{% extends "dofustock/layout.html" %}
{% load static %}

{% block head_extra %}
<link href="{% static 'dofustock/css/encyclopedia.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="encyclopedia-container">
    <h1 class="title">Encyclopedie</h1>
    
    <div class="category-buttons">
        {% for category in categories %}
            <button 
                class="category-button" 
                data-category="{{ category }}"
            >
                {{ category }}
            </button>
        {% endfor %}
    </div>
    <div class="search-container">
        <input 
            type="text" 
            id="item-search" 
            placeholder="Search items..."
            aria-label="Search items"
        >
    </div>

    <div id="item-type-container" class="item-type-buttons">
        <!-- Item type buttons will be dynamically added here -->
    </div>

    <div id="item-container" class="item-grid">
        <!-- Items will be dynamically added here -->
    </div>
</div>


{% endblock %}
