{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}DofuStonk{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <link href="{% static 'dofustock/css/main.css' %}" rel="stylesheet">
        {% block head_extra %}{% endblock %}

        <script src="{% static 'dofustock/js/base.js' %}"></script>
        <script src="{% static 'dofustock/js/encyclopedia.js' %}"></script>
        <script src="{% static 'dofustock/js/craft_list.js' %}"></script>
        <script src="{% static 'dofustock/js/extract_url_data.js' %}"></script>

        <meta name="csrf-token" content="{{ csrf_token }}">
        
    </head>
    <body>
        {% csrf_token %}
        <div class="navbar-center">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="#">DofuStonk</a>
            
                <div>
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link">
                                <strong>{{ user.username }}</strong>
                            </a>
                        </li>
                    
                    {% endif %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">All Builds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'encyclopedie' %}">Encyclopédie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'craft_list' %}">Craft list</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
                </div>
            </nav>
        </div>
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>