.encyclopedia-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.category-buttons, .item-type-buttons, .title {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
.category-button, .item-type-button {
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.2);
}
.category-button:hover, .item-type-button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/* Item Grid */
.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.item-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: white;
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: -4px 4px 10px rgba(0,0,0,0.08);
}

.item-card:hover {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

.item-card img {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
    margin: 10px 0;
    display: block;
}