.item-detail-container {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    background-color:  var(--color-card-bg);
    box-shadow: 0 0 15px var(--shadow-medium), -4px 4px 10px var(--shadow-light);
    display: flex;
    gap: 30px;
}

.item-detail-left {
    flex: 1;
    min-width: 0; /* Prevent flex item from overflowing */
}

.item-detail-right {
    flex: 1;
    min-width: 0; /* Prevent flex item from overflowing */
}

.item-header {
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-button-hover);
    padding-bottom: 10px;
}

.item-header-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.item-header h1 {
    color: var(--color-text-heading);
    font-size: 1.8rem;
    margin: 0;
    flex-grow: 1;
}

.item-image {
    flex: 0 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-light);
    padding: 10px;
    border-radius: 8px;
    box-shadow: -4px 4px 10px var(--shadow-light);
}

.item-image img {
    max-width: 80px;
    max-height: auto;
    object-fit: contain;
}

.craft_list {
    flex-shrink: 0;
}

.item-metadata {
    margin-top: 15px;
    color: var(--color-text-secondary);
}

.item-description, .item-recipes, .item-effects {
    background-color: var(--color-background-light);
    padding: 15px;
    border-radius: 8px;
    box-shadow: -4px 4px 10px var(--shadow-light);
    margin-bottom: 20px;
}

.item-description h2, .item-recipes h2, .item-effects h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--color-text-heading);
    border-bottom: 1px solid var(--color-button-hover);
    padding-bottom: 5px;
}

.item-recipes table {
    width: 100%;
    border-collapse: collapse;
}

.item-recipes th, .item-recipes td {
    border: 1px solid var(--color-border);
    padding: 8px;
    vertical-align: middle;
}

.item-recipes th {
    background-color: var(--color-table-header);
    text-align: center;
    font-weight: bold;
}

.item-recipes th.recipe-price,
.item-recipes th.recipe-total {
    text-align: center;
}

.item-recipes td.recipe-price,
.item-recipes td.recipe-total {
    text-align: center;
    padding-right: 15px;
}

.item-recipes .recipe-image {
    width: 8%;
}

.item-recipes .recipe-quantity {
    width: 10%;
    text-align: center;
}

.item-recipes .recipe-name {
    width: 40%;
    text-align: center;
}

.item-recipes .recipe-price {
    width: 20%;
    text-align: center;
}

.item-recipes .recipe-total {
    width: 22%;
    text-align: center; 
}

.item-recipes img {
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

/* Effects List */
.item-effects ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.item-effects ul li {
    flex: 1 1 calc(50% - 15px); 
    min-width: 250px; 
    background-color: var(--color-background-lighter);
    padding: 10px 15px;
    border-radius: 4px;
    border-left: 3px solid var(--effect-neutral);
    box-shadow: 0 1px 2px var(--shadow-light);
}
.item-effects ul li.effect-chance {
    border-left-color: var(--effect-chance);
}

.item-effects ul li.effect-prospection {
    border-left-color: var(--effect-prospection);
}

.item-effects ul li.effect-wisdom {
    border-left-color: var(--effect-wisdom);
}

.item-effects ul li.effect-strength {
    border-left-color: var(--effect-strength);
}

.item-effects ul li.effect-intelligence {
    border-left-color: var(--effect-intelligence);
}

.item-effects ul li.effect-agility {
    border-left-color: var(--effect-agility);
}

.item-effects ul li.effect-vitality {
    border-left-color: var(--effect-vitality);
}

.item-effects ul li.effect-power {
    border-left-color: var(--effect-power);
}

.item-effects ul li.effect-critical {
    border-left-color: var(--effect-critical);
}
.item-effects ul li.effect-soin {
    border-left-color: var(--effect-soin);
}
/* Responsive adjustments */
@media (max-width: 900px) {
    .item-detail-container {
        flex-direction: column;
    }
    
    .item-detail-left,
    .item-detail-right {
        width: 100%;
    }
}